[Desktop Entry]
Name=KPlistEditor
Name[ast]=KPlistEditor
Name[bg]=KPlistEditor
Name[ca]=KPlistEditor
Name[ca@valencia]=KPlistEditor
Name[cs]=KPlistEditor
Name[da]=KPlistEditor
Name[de]=KPlistEditor
Name[el]=KPlistEditor
Name[en_GB]=KPlistEditor
Name[eo]=KPlistEditor
Name[es]=KPlistEditor
Name[et]=KPlistEditor
Name[fi]=KPlistEditor
Name[fr]=KPlistEditor
Name[ga]=KPlistEditor
Name[gl]=KPlistEditor
Name[hu]=KPlistEditor
Name[it]=KPlistEditor
Name[ja]=KPlistEditor
Name[kk]=KPlistEditor
Name[km]=KPlistEditor
Name[ko]=KPlistEditor
Name[lv]=KPlistEditor
Name[nb]=KPlistEditor
Name[nds]=KPlistEditor
Name[nl]=KPlistEditor
Name[nn]=KPlistEditor
Name[pa]=KPlistEditor
Name[pl]=KPlistEditor
Name[pt]=KPlistEditor
Name[pt_BR]=KPlistEditor
Name[ro]=KPlistEditor
Name[ru]=KPlistEditor
Name[sr]=KPlistEditor
Name[sr@ijekavian]=KPlistEditor
Name[sr@ijekavianlatin]=KPlistEditor
Name[sr@latin]=KPlistEditor
Name[sv]=KPlistEditor
Name[tr]=KPlistEditor
Name[uk]=KPlistEditor
Name[x-test]=xxKPlistEditorxx
Name[zh_CN]=KPlistEditor
Name[zh_TW]=KPlistEditor
Exec=kplisteditor %i -caption "%c"
Icon=kplisteditor
Type=Application
X-DocPath=kplisteditor/index.html
GenericName=A KDE KPart Application
GenericName[ast]=Una aplicación KPart de KDE
GenericName[ca]=Una aplicació KPart del KDE
GenericName[ca@valencia]=Una aplicació KPart del KDE
GenericName[cs]=Aplikace KDE KPart
GenericName[da]=Et KDE KPart-program
GenericName[de]=Eine KDE-KPart-Anwendung
GenericName[el]=Μια εφαρμογή KDE KPart
GenericName[en_GB]=A KDE KPart Application
GenericName[es]=Una aplicación KPart de KDE
GenericName[et]=KDE KPart rakendus
GenericName[fi]=KDE:n KPart-sovellus
GenericName[fr]=Une application KPart pour KDE
GenericName[ga]=Feidhmchlár KPart KDE
GenericName[gl]=Un programa KPart de KDE
GenericName[hu]=KDE KPart-alkalmazás
GenericName[it]=Un'applicazione KPart di KDE
GenericName[ja]=KDE KPart アプリケーション
GenericName[kk]=KDE KPart қолданбасы
GenericName[km]=កម្មវិធី KDE KPart
GenericName[ko]=KDE KPart 프로그램
GenericName[lv]=KDE KPart lietotne
GenericName[nb]=Et KDE KPart-program
GenericName[nds]=En KPart-Komponent för KDE
GenericName[nl]=Een KDE KPart-programma
GenericName[nn]=Eit KDE KPart-program
GenericName[pa]=KDE ਕੇ-ਪਾਰਟ ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Moduł KDE KPart
GenericName[pt]=Uma Aplicação KPart do KDE
GenericName[pt_BR]=Um aplicativo KPart do KDE
GenericName[ro]=O aplicație KPart KDE
GenericName[ru]=Приложение KPart для KDE
GenericName[sr]=КДЕ К‑део
GenericName[sr@ijekavian]=КДЕ К‑дио
GenericName[sr@ijekavianlatin]=KDE K‑dio
GenericName[sr@latin]=KDE K‑deo
GenericName[sv]=Ett KDE KPart-program
GenericName[tr]=Bir KDE KPart Uygulaması
GenericName[uk]=Програма KPart для KDE
GenericName[x-test]=xxA KDE KPart Applicationxx
GenericName[zh_CN]=KDE KPart 应用程序
GenericName[zh_TW]=KDE KPart 應用程式
Terminal=false
X-Ubuntu-Gettext-Domain=desktop_kdesdk
MimeType=application/xml;application/x-plist;text/plist
