[Desktop Entry]
Name=KPlistEditorPart
Name[ast]=KPlistEditorPart
Name[bg]=KPlistEditorPart
Name[ca]=KPlistEditorPart
Name[ca@valencia]=KPlistEditorPart
Name[cs]=KPlistEditorPart
Name[da]=KPlistEditorPart
Name[de]=KPlistEditor-Teil
Name[el]=KPlistEditorPart
Name[en_GB]=KPlistEditorPart
Name[es]=KPlistEditorPart
Name[et]=KPlistEditorPart
Name[fr]=KPlistEditorPart
Name[ga]=KPlistEditorPart
Name[gl]=KPlistEditorPart
Name[hu]=KPlistEditorPart
Name[it]=KPlistEditorPart
Name[ja]=KPlistEditorPart
Name[kk]=KPlistEditorPart
Name[km]=KPlistEditorPart
Name[ko]=KPlistEditor 부분
Name[lv]=KPlistEditorPart
Name[nb]=KPlistEditor-del
Name[nds]=KPlistEditorKomponent
Name[nl]=KPlistEditorPart
Name[nn]=KPlistEditor-del
Name[pa]=KPlistEditorPart
Name[pl]=KPlistEditorPart
Name[pt]=KPlistEditorPart
Name[pt_BR]=KPlistEditorPart
Name[ro]=KPlistEditorPart
Name[ru]=Компонент KPlistEditor
Name[sr]=KPlistEditor део
Name[sr@ijekavian]=KPlistEditor део
Name[sr@ijekavianlatin]=KPlistEditor deo
Name[sr@latin]=KPlistEditor deo
Name[sv]=KPlistEditor-delprogram
Name[tr]=KPlistEditorPart
Name[uk]=KPlistEditorPart
Name[x-test]=xxKPlistEditorPartxx
Name[zh_CN]=KPlistEditorPart
Name[zh_TW]=KPlistEditorPart
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=libkplisteditorpart
Type=Service
X-Ubuntu-Gettext-Domain=desktop_kdesdk
